Source: watermark-tool
Section: utils
Priority: optional
Maintainer: Yunlin Fang <cst05001@gmail.com>
Build-Depends: build-essential, debhelper (>=11~), qt5-qmake, qtbase5-dev
Standards-Version: 4.1.4
Homepage: https://github.com/cst05001

Package: watermark-tool
Architecture: amd64
Multi-Arch: foreign
Depends: libc6,
         libgcc1,
         libgl1,
         libqt5core5a,
         libqt5gui5,
         libqt5widgets5,
         libstdc++6
Description: A tool for batch watermarking.
